*{
    --big-radius: 10;
    --small-radius: 9;

    --send-color: green;
    --receive-color: red;

    --left: 100;
    --center: 140;
    --right: 200;
}

.circle.big{
    r: var(--big-radius);
}

.circle.small{
    r: var(--small-radius);
}

.circle.send{
    fill: var(--send-color);
}

.circle.receive{
    fill: var(--receive-color);
}

.circle.send.small,
.circle.receive{
    opacity: 0;
}

.circle.send.big{
    animation: big-send 5s both;
    animation-iteration-count: infinite;
    cx: var(--left);
}

 .circle.send.small{
    animation: small-send 5s both;
    animation-iteration-count: infinite;
    cx: var(--center);
}


.circle.receive.big{
    animation: big-receive 5s both;
    animation-iteration-count: infinite;
    cx: var(--right);
}

.circle.receive.small{
    animation: small-receive 5s both;
    animation-iteration-count: infinite;
    cx: var(--center);
} 

@keyframes big-send{
    /*Start*/
    0%{
        cx: var(--left);
    }
    39.9999%{
        opacity: 1;
    }
    /*END*/
    40%{
        cx: var(--center);
        opacity: 0;
        animation-timing-function: linear;
    }
    99.9999%{
        opacity: 0;
    }
    /*RESTART*/
    100%{
        opacity: 1;
    }
}

@keyframes small-send{
    0%{
        opacity: 0;
    }
    /*Start*/
    39.9999%{
        opacity: 0;
    }
    40%{
        cx: var(--center);
        opacity: 1;
    }
    59.9999%{
        opacity: 1;
    }
    60%{
        cx: var(--right);
        opacity: 0;
    }
}

@keyframes big-receive{
    0%{
        opacity: 0;
        cx: var(--right);
    }
    59.9999%{
        opacity: 0;
    }
    60%{
        cx: var(--right);
        opacity: 1;
    }
    79.9999%{
        opacity: 1;
    }
    80%{
        cx: var(--center);
        opacity: 0;
    }
}
@keyframes small-receive{
    0%{
        opacity: 0;
        cx: var(--right);
    }
    79.9999%{
        opacity: 0;
    }
    80%{
        cx: var(--center);
        opacity: 1;
    }
    99.9999%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        cx: var(--left);
    }
}