*{
    --big-radius: 10;
    --small-radius: 9;

    --send-color: green;
    --receive-color: red;

    --left: 100;
    --center: 140;
    --right: 200;
    --transmission-duration: 
}

.circle.big{
    r: var(--big-radius);
}

.circle.small{
    r: var(--small-radius);
}

.circle.send{
    fill: var(--send-color);
}

.circle.receive{
    fill: var(--receive-color);
}

.circle.send.small,
.circle.receive{
    opacity: 0;
}

.led{
    stroke:black;
    fill: transparent;
    stroke-width:2px;
}

.circle.send.big{
    animation: big-send 5s both;
    animation-iteration-count: infinite;
    cx: var(--left);
}

 .circle.send.small{
    animation: small-send 5s both;
    animation-iteration-count: infinite;
    cx: var(--center);
}


.circle.receive.big{
    animation: big-receive 5s both;
    animation-iteration-count: infinite;
    cx: var(--right);
}

.circle.receive.small{
    animation: small-receive 5s both;
    animation-iteration-count: infinite;
    cx: var(--center);
}

.send.led{
    animation: send-led-blink 5s both;
    animation-iteration-count: infinite;
}

.receive.led{
    animation: receive-led-blink 5s both;
    animation-iteration-count: infinite;
}

@keyframes big-send{
    /*Start*/
    0%{
        cx: var(--left);
    }
    39.9999%{
        opacity: 1;
    }
    /*END*/
    40%{
        cx: var(--center);
        opacity: 0;
        animation-timing-function: linear;
    }
    99.9999%{
        opacity: 0;
    }
    /*RESTART*/
    100%{
        opacity: 1;
    }
}

@keyframes small-send{
    0%{
        opacity: 0;
    }
    /*Start*/
    39.9999%{
        opacity: 0;
    }
    40%{
        cx: var(--center);
        opacity: 1;
    }
    59.9999%{
        opacity: 1;
    }
    60%{
        cx: var(--right);
        opacity: 0;
    }
}

@keyframes big-receive{
    0%{
        opacity: 0;
        cx: var(--right);
    }
    59.9999%{
        opacity: 0;
    }
    60%{
        cx: var(--right);
        opacity: 1;
    }
    79.9999%{
        opacity: 1;
    }
    80%{
        cx: var(--center);
        opacity: 0;
    }
}
@keyframes small-receive{
    0%{
        opacity: 0;
        cx: var(--right);
    }
    79.9999%{
        opacity: 0;
    }
    80%{
        cx: var(--center);
        opacity: 1;
    }
    99.9999%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        cx: var(--left);
    }
}

@keyframes send-led-blink{
    0%{
        fill: none;
    }
    5%{
        fill: var(--send-color);
    }
    10%{
        fill: none
    }
    15%{
        fill: var(--send-color);
    }
    20%{
        fill: none
    }
    25%{
        fill: var(--send-color);
    }
    30%{
        fill: none
    }
    35%{
        fill: var(--send-color);
    }
    40%{
        fill: none
    }
    45%{
        fill: var(--send-color);
    }
    50%{
        fill: none
    }
    55%{
        fill: var(--send-color);
    }
    60%{
        fill: none;
    }
}

@keyframes receive-led-blink{
    0%{
        fill: none;
    }
    60%{
        fill: none;
    }
    65%{
        fill: var(--receive-color);
    }
    70%{
        fill: none
    }
    75%{
        fill: var(--receive-color);
    }
    80%{
        fill: none
    }
    85%{
        fill: var(--receive-color);
    }
    90%{
        fill: none
    }
    95%{
        fill: var(--receive-color);
    }
    100%{
        fill: none
    }
}